<div *ngIf="product.title" class="card">
    <img  *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <h2 class="card-title">{{ product.title }}</h2>
        <p class="card-text">{{ product.price | currency:'INR' }}</p>
    </div>
    <div class="card-footer d-grid gap-2" *ngIf="showActions && shoppingCart">
        <button
        *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
        (click)="addToCart()"
        class="btn btn-primary">Add to cart</button>
        <ng-template #updateQuantity>
            <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
        </ng-template>
    </div>
</div>
